:root {
  --bg: #fff;
  --bg2: #FAFAFA;
  --color: #0858F7;
  --color2: #F2F2F2;
  --text: #fff;
  --text2: #000;
  --text3: #BEBEBE;
  --text4: #2779F4;
  --text5: #4448D4;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--bg);
}

header nav.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  position: relative;
}

#log {
  height: 40px;
  display: block;
}

.navlinks {
  display: flex;
  gap: 27px;
  margin-left: auto;
}

.navlinks a {
  color: var(--text2);
  text-decoration: none;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 70px;
}

#navLinks a:hover {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color);
}

#navLinks2 {
  gap: 10px;
}

.navlinks #login {
  background-color: var(--color);
  color: var(--text);
  padding: 6px;
  border-radius: 4px;
  border: 1px solid var(--color);
  display: inline-block;
  text-align: center;
}

.navlinks #register {
  color: var(--color);
  padding: 6px;
  border-radius: 4px;
  border: 1px solid var(--color);
  display: inline-block;
  text-align: center;
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text2);
  z-index: 210; 
  margin-left: auto;
}

.mobile-menu {
  display: none;
}

@media (max-width: 900px) {
  .navlinks {
    display: none;
  }

  .hamburger {
    display: block !important;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: var(--bg);
    padding: 24px;
    gap: 20px;

    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 300;
  }

  .mobile-menu.active {
    transform: translateX(0);
  }

  .mobile-menu a {
    font-size: 18px;
    width: 100%;
  }

  .navlinks #login, .navlinks #register {
    width: 120px;
  }

}

#menuOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 250;
}

#menuOverlay.active {
  opacity: 1;
  visibility: visible;
}

/*-------------footer------------*/
footer {
  padding-top: 10px;
  border-top: 1px solid var(--color2);
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
}

footer div.footer-inner {
  display: flex;
  align-items:  flex-start;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

footer .footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

footer .footer-inner2 {
  display: flex;
  align-items:  flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

footer .link {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}

footer .link .line {
  color: #D9D9D9;
  margin: 0 24px;
}

footer .info {
  font-size: 13px;
  margin-top: 10px;
}

footer .info3 {
  display: inline-flex;
  gap: 20px;
  margin-right: 40px;
  margin-bottom: 12px;
}

footer .info2 {
  padding-top: 20px;
  font-size: 13px;
  padding-bottom: 40px;
}

footer .info .bold {
  color: #595959;
}

footer .info .boldt {
  color: #9B9B9B;
}

.mobile_only {
  display: none;
}

@media (max-width: 700px) {
  footer .link .mobile_only {
    display: inline;
  }
}